<div class="well bs-component">
  <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
  <form class="form-horizontal">
    <fieldset>
      <legend>User Registration</legend>
      <div class="form-group">
        <label for="inputUser" class="col-lg-2 control-label">Username</label>

        <div class="col-lg-10">
          <input type="text" class="form-control" id="inputUser" placeholder="Username" required="true" data-ng-model="user.username">
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword" class="col-lg-2 control-label">Password</label>

        <div class="col-lg-10">
          <input type="password" class="form-control" id="inputPassword" placeholder="Password" data-ng-model="user.password"  required="true" >
        </div>
      </div>
      <div class="form-group">
        <label for="inputPasswordConfirm" class="col-lg-2 control-label">Confirm Password</label>

        <div class="col-lg-10">
          <input type="password" class="form-control" id="inputPasswordConfirm" placeholder="Password" data-ng-model="user.confirmPassword" required="true" >
        </div>
      </div>
      <div class="form-group">
        <label for="inputName" class="col-lg-2 control-label">Name</label>

        <div class="col-lg-10">
          <input type="text" class="form-control" id="inputName" placeholder="Name" required="true" data-ng-model="user.name">
        </div>
      </div>
      <div class="form-group">
        <label for="inputEmail" class="col-lg-2 control-label">Email</label>

        <div class="col-lg-10">
          <input type="email" class="form-control" id="inputEmail" placeholder="Email@email.com" required="true"  data-ng-model="user.email">
        </div>
      </div>
      <div class="form-group">
        <label for="inputPhone" class="col-lg-2 control-label" ng-required="true">Phone</label>

        <div class="col-lg-10">
          <input type="text" class="form-control" ng-required="true" id="inputPhone" placeholder="0888 88 88 88" data-ng-model="user.phone">
        </div>
      </div>
      <div class="form-group">
        <label for="select" class="col-lg-2 control-label">Town</label>

        <div class="col-lg-10">
          <select class="form-control" data-ng-options="town.id as town.name for town in townsDataArr"
                  ng-model="user.townId" id="select" required="true"></select>
        </div>
      </div>

      <div class="col-lg-10 col-lg-offset-2">
        <a class="btn btn-default" href="#/">Cancel</a>
        <label class="btn btn-primary" data-ng-click="registerNewUser(user)">Submit</label>
      </div>

    </fieldset>
  </form>
</div>
